@import "tailwindcss";

:root {
  --background: oklch(99.405% 0.00011 271.152);
  --foreground: oklch(0% 0 0);
  --card: oklch(99.405% 0.00011 271.152);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(12% 0.01 260);
    --foreground: oklch(98% 0.002 270);
    --card: oklch(15% 0.01 260);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
